<!DOCTYPE html>
<!-- html tutorial -->
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="html tutorial">
<meta name="keywords" content="html,html tutuorials .htm">
<meta name="robots" content="INDEX,FOLLOW">
<!-- for adding css file -->
<link rel="stylesheet" href="test.css">
<!-- for adding .js file -->
<script src="test.js"></script>
<title>learn html</title>
</head>
<body>
<h1>HTML learning</h1>
<table>
<thead>
<tr>
<th>name</th>
<th>age</th>
<th>gender</th>
</tr>
</thead>
<tbody>
<tr>
<td>param</td>
<td>22</td>
<td>male</td>
</tr>
</tbody>
</table>
</body>
</html>
