<!DOCTYPE html>
<!-- html tutorial -->
<html>
{% load staticfiles %}

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="html tutorial">
	<meta name="keywords" content="html,html tutuorials .htm">
	<meta name="robots" content="INDEX,FOLLOW">
	<!-- for adding css file -->
	<link rel="stylesheet" href="test.css">
	<!-- for adding .js file -->
	<script src="test.js"></script>
	<title>my site</title>
</head>

<body>
	<h1>HTML</h1>
	<h2>HTML</h2>
	<h3>HTML</h3>
	<h4>HTML</h4>
	<h5>HTML</h5>
	<h6>HTML</h6>
	<strong>paramjeet singh</strong><br>
	<hr>
	<em> this is em tag</em><br>
	<p>hello<a href="https://google.com" target="_blank">google</a>is here</p><br>
	<a href="https://facebook.com" target="_blank">facebook</a><br>
	<a href="https://twitter.com" target="_blank">twitter</a><br>
	<a href="/index1.html" target="_blank">index1</a><br>
	<img src="{% static 'Screenshot_1.png' %}">
</body>

</html>