<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>inline block elements</title>
</head>

<body>
	<!--block elements-->
	<p>this is a paragraph</p>
	<p>this is a another paragraph</p>
	  <p>This is a paragraph <span style = "color:#FF0000;">
         This is a paragraph</span>This is a paragraph</p>
	<div>paragraph</div>
	<div>paragraph2</div>
	<h2>ul tag</h2>
	<ul>
		<li>param</li>
		<li>jeet</li>
		<li>singh</li>
	</ul>
	<h2>ol tag</h2>
	<ol>
		<li>param</li>
		<li>jeet</li>
		<li>singh</li>
	</ol>


	<!-- inline elements-->
		<a>anchortag </a><a>anchor tag2</a>



</body>

</html>